<a href="/admin/dashboard" class="btn">Cancel</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Insert Post Title" />
</form>
