<h3>Login Page</h3>
<form action="/login" method="post" class="login">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Username" name="username" id="username" />
  <label for="username"><b>Password</b></label>
  <input type="password" name="password" placeholder="Password" id="password" />
  <a href="/register">Need a new Account?</a>
  <button class="btn">Submit</button>
</form>
