<header class="header">
  <a href="/admin" class="header__logo">Admin page</a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/contact" class="">contact</a>
      </li>
    </ul>
  </nav>
  <% if (isLogged) { %>
  <div class="header__button">
    <h4>Welcome <%= username %></h4>
    <a href="/admin/logout" class="searchBtn btn">Logout</a>
  </div>
  <% } %>
</header>
