<div class="author">
  <h1 class="author__heading">Hi, I am Mohammed Khaled</h1>
  <p class="author__body">Web Developer</p>
</div>

<img src="/img/hero-image.jpg" alt="thinking-man" />

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul>
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="articles-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
